# Example variables for terraform-azure-vm
vm_name = "example-vm"
# Recommended VM sizes for Azure free accounts:
# - Standard_B1s: 1 vCPU, 1 GB RAM (most economical)
# - Standard_B1ms: 1 vCPU, 2 GB RAM (recommended default)
# - Standard_B2s: 2 vCPU, 4 GB RAM (may have regional availability issues)
vm_size = "Standard_B1ms"
location = "eastus"
# Name of the resource group (will be created if it doesn't exist)
resource_group_name = "rg-poc-dev"
# VNet and Subnet names (will be created if they don't exist in the resource group)
vnet_name = "shared-vnet"
subnet_name = "shared-subnet"
